@font-face {
  font-family: 'Harlow-italic';
  src: url(fonts/Harlow-italic.ttf) format('truetype');
}

body {
  background-image: url('../img/grid2.jpg') 
  
 
}

hr.solid {
  color: brown solid brown;
}

#nametite {
  font-family: 'Harlow-italic';
  font-size: 100px;
  color: brown;
  text-decoration: underline;
  padding-top: 3px;
  
}
.bio-container {
  
  font-family: 'Harlow-italic';
  font-size: 25px;
  
  padding-top: 15px;
  padding-left: 200px;
  padding-right: 200px;
  margin: 50px;
  justify-content: center;
  flex-direction: column;
  display:flex
    
}

#addict {
  color: rgba(232, 20, 20, 0.166);
}

#bio {
  padding-bottom: 20px;
}

#edu {
  padding-bottom: 20px;
  
}

#goals{
  color: brown;
 padding-left: 50px;
 padding-right: 70px;
}

.image {
  margin: 10px;
  width: 300px;
} 

.image-container {
  justify-content: center;
  display: flex
  
}

#vinyl-dec {
  /* text-align: center; */
  color: black;
}

.b-list-cont{
  display: flex;
  justify-content: space-around;
  font-family: 'Harlow-Italic';
  font-size: 25px;
  color: brown;
  padding-bottom: 20px;
  

  }

 #sub-item1{
   /* text-align: center; */
   color: brown
  }

  #list-1 {
    color: black
  }
  
  #worklist {
    color: black;
  }

  
  #hoblist{
    color: black;
  }